<%= form_with model: raid, local: true, class: "raid-form" do |form| %>
  <% if raid.errors.any? %>
    <div id="error_explanation">
      <h2><%= t 'raids.errors_count', errors: pluralize(raid.errors.count, "error") %> </h2>

      <ul>
      <% raid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :gym_id, "Gym" %>
    <%= form.collection_select(:gym_id, Gym.all, :id, :name, {}, class: "form-control") %>
  </div>

  <div class="field">
    <%= form.label :boss %>
    <%= form.select :boss, grouped_options_for_select(Raid::RAID_BOSSES), {}, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :hour %>
    <%= form.select :hour, (6..20).to_a, {}, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :minute %>
    <%= form.select :minute, (0..59).to_a, {}, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :remaining_time, "Remaining Time" %>
    <%= form.number_field :remaining_time, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-lg btn-primary btn-block" %>
  </div>

  <p><%= link_to t('raids.back'), raids_path %></p>

<% end %>
