<p id="notice"><%= notice %></p>

<h1>Raids</h1>

<table>
  <thead>
    <tr>
      <th>Gym</th>
      <th>Boss</th>
      <th>Time</th>
      <th>Remaining time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @raids.each do |raid| %>
      <tr>
        <td><%= raid.gym %></td>
        <td><%= raid.boss %></td>
        <td><%= raid.time %></td>
        <td><%= raid.remaining_time %></td>
        <td><%= link_to 'Show', raid %></td>
        <td><%= link_to 'Edit', edit_raid_path(raid) %></td>
        <td><%= link_to 'Destroy', raid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Raid', new_raid_path %>
