<p id="notice"><%= notice %></p>

<div class="raids-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4"><%= t('raids.list_title') %></h1>
  <p class="lead"><%= t('raids.lead') %></p>
  <%= link_to 'New Raid', new_raid_path, class: "btn btn-lg btn-outline-primary" %>
</div>

<div class="container">
  <div class="row">
    <% @raids.each do |raid| %>
      <%= render "raid", raid: raid %>
    <% end %>
  </div>
</div>


<br>

