<%= form_with model: @user, method: :post, class: "form-signin" do |f| %>
  <h1 class="h3 mb-3 font-weight-normal"><%= t('sign_up.title') %></h1>

  <%= f.label :name, t('sign_up.name'), class: "sr-only" %>
  <%= f.text_field :name, placeholder: t('sign_up.name'), class: "form-control" %>

  <%= f.label :level, t('sign_up.level'), class: "sr-only" %>
  <%= f.text_field :level, placeholder: t('sign_up.level'), class: "form-control" %>

  <%= f.label :team, t('sign_up.team'), class: "sr-only" %>
  <%= f.select :team, ["Instinct", "Mystic", "Valor"], {}, class: "form-control" %>

  <%= f.label :trainer_phone_number, t('sign_up.phone'), class: "sr-only" %>
  <%= f.text_field :trainer_phone_number, placeholder: t('sign_up.phone'), class: "form-control" %>

  <%= f.label :password, t('sign_up.password'), class: "sr-only" %>
  <%= f.password_field :password, placeholder: t('sign_up.password'), class: "form-control" %>

  <%= f.label :password_confirmation, t('sign_up.password_confirmation'), class: "sr-only" %>
  <%= f.password_field :password_confirmation, placeholder: t('sign_up.password_confirmation'), class: "form-control last-input" %>

  <%= f.submit t('sign_up.submit'), class: "btn btn-lg btn-primary btn-block" %>
<% end %>
